* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    grid-area: h;
    background-color: #34547A;
    line-height: 1.2;
    display: flex;
    align-items: center;
}

.header img {

    background-color: transparent;
    margin: 15px;
}