* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    grid-area: h;
    background-color: #6C63FF;
    line-height: 1.2;

}
.header img {
    width: 110px;
    background-color: transparent;
}