* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    grid-area: n;
    background-color: #eaf3da;
    padding: 20px;
}

.item a {
    color: green;
    text-decoration: none;
}

.item a.activeLink {
    color: darkviolet;
}