* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border-box говорит браузеру учитывать любые границы и внутренние отступы в значениях, которые вы указываете в ширине и высоте элемента .
  Если вы выставите элементу ширину 100 пикселей, то эти 100 пикселей будут включать в себя границы и внутренние отступы, а контент сожмётся,
  чтобы выделить для них место . Обычно это упрощает работу с размерами элементов .*/
}

body {
  font-family: 'Roboto', sans-serif;
  /*высота строки для текста больше самого шрифта в 1,2 раза; не нужно указывать высоту строки в пикселях*/
  line-height: 1.2;
  /*леттер спейсинг - уменьшает на 2 процента расстояние между буквами, используется, как правило,для всего проекта*/
  letter-spacing: -0.02em;
  /*color: #2F2E41;*/
}





/*------------------------------------------*/
/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*  sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/

/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*  monospace;*/
/*}*/