* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;

}

.dialogsItems .active {
    color: gold;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.messages .message {

}

